<h1>Home Page</h1> 

<a href="{% url 'posts:create' %}">New Post</a>

<br/>
<br/>
{% for post in posts.all %}
<form method="POST" action="{% url 'posts:upvote' post.id %}">
    {% csrf_token %}
    <input type="submit" value="UP">
</form> 
    {{ post.votes_total }} 
<form method="POST" action="{% url 'posts:downvote' post.id %}">
    {% csrf_token %}
    <input type="submit" value="DOWN">
</form>  - <a href="{{ post.url }}">{{ post.title }}</a>
<br/>
{{ post.pub_date }} by {{ post.author }}<br/>
{% endfor %}
